<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Earable</title>
  </head>
  <body>

    <!-- Connection form -->

    <br>
    <!-- <hr><br> -->
    <div class="container text-center">

      <div class="row">
        <!-- <div class="col-md-3 offset-md-3"> -->
        <div class="col"> 
          <h3>Earable Interface</h3>
        </div>
      </div>
    </div>
    <br><hr><br>


    <!-- Configuration form -->

    <div class="container text-center">

      <div class="row">
        <div class="col">
          <h4>Dashboard</h4>
          <button type="button" id="dashboardButton" class="btn btn-info">Dashboard</button>
        </div>

      </div>

      <div class="row mt-4">
        <div class="col">
          <h4>Recorder</h4>
          <button type="button" id="recorderButton" class="btn btn-info">Recorder</button>
        </div>
      </div>

    </div>
    <br><hr><br>

    <!-- Optional JavaScript -->
    <!-- Module -->
    <script type="module" src="/js/index/index.js"></script>
  </body>
</html>

