<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Earable Recorder</title>
  </head>
  <body>

    <!-- Connection form -->

    <br>
    <!-- <hr><br> -->
    <div class="container text-center">

      <div class="row">
        <!-- <div class="col-md-3 offset-md-3"> -->
        <div class="col"> 
          <h3>Connect to Earable</h3>
        </div>
      </div>
      <div class="form-group row">
        <div class="col"> 
          <button id="connectButton" name="connectButton" class="btn btn-primary">Connect</button>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col"> 
          <h8> <i>Current status: </i></h8><span id="connectionStatus" class="badge rounded-pill bg-danger">Disconnected</span>
        </div>
      </div>

    </div>
    <br><hr><br>


    <!-- Configuration form -->

    <div class="container text-center">

      <h3>Sensor Configuration</h3>

      <div class="row input-group">

        <div class="col-md-3 input-group">
          <span class="input-group-text" id="basic-addon1">Sensor </span>
          <input id="sensorId" name="sensorId" type="text" class="form-control" aria-describedby="basic-addon1"> 
        </div>
        <div class="col-md-3 input-group">
          <span class="input-group-text" id="basic-addon1">Sample Rate </span>
          <input id="rate" name="rate" type="text" class="form-control input-md">
        </div>
        <div class="col-md-2 input-group">
          <span class="input-group-text" id="basic-addon1">Latency </span>
          <input id="latency" name="latency" type="text" class="form-control input-md">
        </div>
        <div class="col-md-1 input-group">
          <button type="button" id="configureButton" name="configureButton" class="btn btn-primary">Config</button>
        </div>
        <div class="col-md-1 input-group">
          <button type="button" id="startButton" name="startButton" class="btn btn-success">Start</button>
        </div>
        <div class="col-md-1 input-group">
          <button type="button" id="stopButton" name="stopButton" class="btn btn-danger">Stop</button>
        </div>
        <div class="col-md-1 input-group">
          <button type="button" id="downloadButton" name="downloadButton" class="btn btn-info">Download</button>
        </div>

      </div>

    </div>
    <br><hr><br>


    <!-- Read sensor data form -->
    <div class="container text-center">
      <h3>Read sensor data</h3>  
      <table id="dataTable" class="table table-bordered" style="table-layout:fixed; width:100%"> 
        <thead>
          <tr>
            <th scope="col" style="width: 15%;">Sensor ID</th>
            <th scope="col" style="width: 25%;">Sensor Name</th>
            <th scope="col" style="width: 60%;">Data</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- Module -->
    <script type="module" src="/js/recorder/index.js"></script>
  </body>
</html>

